[Desktop Entry]
Version=1.0
Type=Application
Name=MRD Test Program
Comment=MRD Test Program
Exec=MRDTest
Icon=MRDTest.png
Encoding=UTF-8
Categories=Application;Model-Railroad-System

