[Desktop Entry]
Version=1.0
Type=Application
Name=Dispatcher
Comment=Construct dispatcher or tower panel programs.
Exec=Dispatcher %F
Icon=Dispatcher.png
Encoding=UTF-8
Categories=Application;Model-Railroad-System;Development

