[Desktop Entry]
Version=1.0
Type=Application
Name=Create Freight Car Forwarder database files
Comment=Create a set of Freight Car Forwarder database files.
Exec=FCFCreate
Icon=FCFCreate.png
Encoding=UTF-8
Categories=Application;Model-Railroad-System

