[Desktop Entry]
Version=1.0
Type=Application
Name=Any Distance
Comment=Compute Camera View information for any focal distance.
Exec=AnyDistance
Icon=AnyDistance.png
Encoding=UTF-8
Categories=Application;Camera;Model-Railroad-System

