[Desktop Entry]
Version=1.0
Type=Application
Name=Time Table (V2)
Comment=Time Table (V2)
Exec=TimeTable %f
Icon=TimeTable.png
Encoding=UTF-8
Categories=Application;Model-Railroad-System

