[Desktop Entry]
Version=1.0
Type=Application
Name=XPressNet Throttle Program
Comment=XPressNet Throttle Program
Exec=XPressNetThrottle
Icon=XPressNetThrottle.png
Encoding=UTF-8
Categories=Application;Model-Railroad-System

