[Desktop Entry]
Version=1.0
Type=Application
Name=SL2 Test Program
Comment=SL2 Test Program
Exec=SL2Test
Icon=SL2Test.png
Encoding=UTF-8
Categories=Application;Model-Railroad-System

